</body>

<footer>
    <div class="footer-upper">

        <div class="footer-logo">
            <img class="footer-logo" src="/img/jii-green.avif" alt="Jan Ingenhousz Institute" width="80"
                height="80" loading="lazy">
        </div>

        <div>
            <h4 class="footer-title">About</h4>
            <ul class="links">
                <li><a href="/">Disclaimer</a></li>
                <li><a href="/">Privacystatement</a></li>
                <li> <a href="/">Cookiestatement</a></li>
            </ul>
        </div>

        <div>
            <h4 class="footer-title">Contact</h4>
            <ul class="contact">
            <li>Bornsesteeg 48A</li>
            <li>6708 PE Wageningen</li>
            <li>The Netherlands</li>
            <li><a href="mailto:info@jii.org">info@jii.org</a></li>
        </ul>
        </div>

       

        <div class="footer-logo">
            <img class="footer-logo" src="/img/Jan_Ingenhousz_groen.avif" alt="Jan Ingenhousz Institute" width="80"
                height="80" loading="lazy">
        </div>


    </div>

    <div class="footer-lower">
        <p>©2025 Jan IngenHousz Institute</p>
    </div>

</footer>

</html>