<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Experiments</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<nav>
    <img src="" alt="">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="">Create experiment</a></li>
    </ul>
</nav>

<body>
  