{% render 'partials/header.liquid' %}

<body>

  <h1>Experiments overview</h1>

  <section class="experminets-layout">
    <h2>Filter option</h2>
    
    <form class="filters" id="sort-form">
      <details>
        <summary>Filter:</summary>
          <label for="sort">Sort:</label>
          <select id="sort" name="sort">
            <option class="filter" value="recent">Most recent</option>
            <option class="filter" value="oldest">Least recent</option>
          </select>
        </details>
    </form>

    {% if experiments and experiments.size > 0 %}
    <ul class="experiment-board">
      {% for experiment in experiments %}

      <li class="experiment">
        <h3>{{ experiment.name }}</h3>
        <p>{{ experiment.description }}</p>
        <p><strong>Updated: </strong><time>{{ experiment.updatedAt | date: "%d-%m-%Y %H:%M" }}</time></p>
        <a href="/experiment/{{ experiment.id }}">See more</a>
      </li>

      {% endfor %}
    </ul>
    {% else %}

    <p>No projects found!</p>
    {% endif %}

  </section>
  
  <form action="/create-experiment" method="post">
    <fieldset>
      <legend>Create Post</legend>
      <label for="name">Experiment name</label>
      <input type="text" name="name" placeholder="Name of experiment">

      <label for="description">Description</label>
      <input type="text" name="description" placeholder="Descripe experiment">

      <button class="post-button" type="submit" value="Create">Create experiment</button>
    </fieldset>
  </form>

  

</body>

{% render 'partials/footer.liquid'%}