{% render 'partials/header.liquid' %}

<body>

  <h1>Experiments overview</h1>

  <div>
    <h2>Filter option</h2>
    <details>
      <summary>Filter options</summary>
      <ul>
        <li>filter option</li>
        <li>filter option</li>
        <li>filter option</li>
      </ul>
    </details>
  </div>

  {% if experiments and experiments.size > 0 %}
  <ul class="experiment-board">
    {% for experiment in experiments %}

    <li class="experiment">
      <h3>{{ experiment.name }}</h3>
      <p>{{ experiment.description | truncate:'60' }}</p>
    </li>

    {% endfor %}
  </ul>

  {% else %}

  <p>No projects found!</p>
  {% endif %}

</body>

{% render 'partials/footer.liquid'%}